{% extends "base.html" %}
{% from "form_helpers.html" import render_field %}

{% block active_contact %}active{% endblock %}
{% block content %}


<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full">
					<div class="title-holder">
						<div class="title-holder-cell text-left">
							<h1 class="page-title">About Us</h1>
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li>About Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="full">
					<div class="main_heading text_align_left">
						<h2>Our Mission</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row col-md-12">
			<p>
				At Clonts Software Development, our mission is to equip small businesses
				with tools that increase efficiency, reduce costs, and improve customer
				<em>and</em> employee satisfaction.
			</p>
			<p>
				We provide the best service available by listening to our clients and
				analyzing their industry so that we provide exactly what our clients need.
			</p>
			<p>
				By providing top-notch software, we hope to contribute to a world where
				small- and medium-sized businesses have access to the same quality of
				software as the corporate giants, levelling the playing field and
				enabling prosperity for all.
			</p>
		</div>
	</div>
</div>
{% endblock %}
