{% extends "base.html" %}

{% block content %}

<!-- loader -->
<div class="bg_load"> <img class="loader_animation" src="static/images/loaders/loader_1.png" alt="#" /> </div>
<!-- end loader -->

<!-- section -->
<div id="slider" class="section main_slider">
  <div class="container-fuild">
    <div class="row">
      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider" style="display:none;" data-version="5.0.7">
          <ul>
            <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="static/images/it_service/slide1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Small business focus" data-description="">
              <!-- MAIN IMAGE -->
              <img src="static/images/it_service/slide1.jpg"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. BG -->
              <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-1012" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-912" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" style="z-index: 6;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" >
                We help small businesses save time with custom software
              </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-412" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['20','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-responsive_offset="on" 
                              style="z-index: 7;">
                  <div>
                    Sign up for a free consultation
                    <a class="btn dark_gray_bt" href="contact">Contact Us</a>
                  </div>
                </div>
            </li>
            <li data-index="rs-181" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="static/images/it_service/slide2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Built for you" data-description="">
              <!-- MAIN IMAGE -->
              <img src="static/images/it_service/slide2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. BG -->
              <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-101" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-91" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" style="z-index: 6;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" >
                Software built for you
              </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-41" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['20','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-responsive_offset="on" 
                              style="z-index: 7;">
                  <div>
                    Sign up for a free consultation
                    <a class="btn dark_gray_bt" href="contact">Contact Us</a>
                  </div>
              </div>
            </li>
            <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="static/images/it_service/slide3.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Task automation" data-description="">
              <!-- MAIN IMAGE -->
              <img src="static/images/it_service/slide3.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. BG -->
              <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0" 
                              id="slide-270-layer-10" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                              data-height="full"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                              data-transform_out="s:300;s:300;" 
                              data-start="750" 
                              data-basealign="slide" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-9" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']" 
                              data-width="500"
                              data-height="140"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:0px;" 
                              data-mask_out="x:inherit;y:inherit;" 
                              data-start="2000" 
                              data-responsive_offset="on" 
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0" style="z-index: 6;"
                data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" >
                Do what you love, and automate the rest
              </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0" 
                              id="slide-18-layer-4" 
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                              data-y="['middle','middle','middle','middle']" data-voffset="['20','51','51','31']" 
                              data-width="none"
                              data-height="none"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                              data-start="1500" 
                              data-splitin="none" 
                              data-splitout="none" 
                              data-responsive_offset="on" 
                              style="z-index: 7;">
                  <div>
                    Sign up for a free consultation
                    <a class="btn dark_gray_bt" href="contact">Contact Us</a>
                  </div>
                </div>
            </li>
          </ul>
          <div class="tp-static-layers"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Services</h2>
            <p class="large">Digital solutions for small and medium size businesses.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="static/images/it_service/i1.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Automating Tasks</h4>
          <p>
            Are there any repetitive processes that take time away from you or your
            employees' day? Most computer tasks can be automated with programs
            that follow your business logic, but don't require human time.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="static/images/it_service/i2.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Custom Web Applications</h4>
          <p>
            We create web application sculpted to the specifics of your business,
            accessible from desktop and mobile.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="static/images/it_service/i3.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Refining Existing Software</h4>
          <p>
            Need help with an existing application? We can handle security, upgrades,
            and bug fixes for many enterprise software systems.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 35px">
      <div class="col-md-8">
        <div class="full margin_bottom_30">
          <div class="accordion border_circle">
            <div class="bs-example">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-magic" aria-hidden="true"></i> Automating Time-Consuming Tasks<i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      Examples of tasks that can benefit from automation include:
                      <br><br>
                      <ul>
                        <li>- Compiling and sending out a report email each morning</li>
                        <li>- Checking a competitor's prices every five minutes and making changes accordingly</li>
                        <li>- Manually tracking inventory in multiple systems</li>
                      </ul>
                      <br>
                      Automating these chores with worry-free, consistent processes
                      frees up your employees' time to focus on growing your
                      business.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-bar-chart"></i> Custom Web Applications<i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Whether internal or customer-facing, a customized system
                      is designed to achieve your specific goals in a streamlined
                      manner.
                      <br><br>
                      Our development process lets you quickly try out a prototype
                      of your application, so that your team can provide feedback
                      to shape the end result — and end up with a system you can
                      be proud of.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-star"></i> Support for Existing Systems<i class="fa fa-angle-down"></i></a> </p>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      Do your existing systems have problems that you don't have
                      the bandwidth to address? We can help with:
                      <br><br>
                      <ul>
                        <li>- Security audits and upgrades</li>
                        <li>- New features</li>
                        <li>- Integrating with a new system</li>
                        <li>- Fixing bugs</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="full" style="margin-top: 10px;">
          <h3>The Power is in Your Hands</h3>
          <p>
            <ul>
              <li>
                <b>Cost</b>: Our priority is finding the right match for
                your business and your budget. Smaller projects can be completed
                for as little as $500, while larger applications can be up to
                $50,000. We communicate openly about pricing to ensure your
                investment will be returned many times over.
              </li>
              <br>
              <li>
                <b>Security</b>: A critical part of any system, we take security
                seriously. From encrypted connections to well-tested user authorization,
                we will keep your data safe.
              </li>
              <br>
              <li>
                <b>Vendor Lock-in</b>: If you prefer to have an internal IT
                team or another agency support your new applications, we'll
                provide thorough documentation for a seamless transition.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2>Our Process</h2>
            <p class="large">Fixing your technical problems.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner">
                <div class="icon text_align_left"><img src="static/images/it_service/si1.png" alt="#" /></div>
                <h4 class="service-heading">Free Consulation</h4>
                <p>
                  We'll discuss the specifics of your business, what needs to
                  be accomplished, and what software is currently in place.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner">
                <div class="icon text_align_left"><img src="static/images/it_service/si2.png" alt="#" /></div>
                <h4 class="service-heading">Project Plan</h4>
                <p>
                  After gaining an idea of what problems the software should
                  solve, we develop a plan including an initial design and project goals.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner">
                <div class="icon text_align_left"><img src="static/images/it_service/si3.png" alt="#" /></div>
                <h4 class="service-heading">Development &#x21c6; Feedback</h4>
                <p>
                  As the application is developed, feedback is gathered from
                  users and incorporated into the software’s design. This is
                  loosely known as <em>Agile software development.</em>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner">
                <div class="icon text_align_left"><img src="static/images/it_service/si4.png" alt="#" /></div>
                <h4 class="service-heading">Support</h4>
                <p>
                  After launch, we can continue to support a successful
                  implementation with updates and improvements, as well as
                  keeping up-to-date security and data backups in place.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Case Studies</h2>
            <p class="large">A look at some of our projects.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="client-case-study col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <a href="https://www.risebroadband.com/" target="_blank">
          <img src="static/images/it_service/rise-broadband-logo.png" class="img-responsive" height="80px" alt="Rise Broadband">
        </a>
        <h4>Rise Broadband Call Center Dashboards</h4>
        <p><em>Loveland, Larimer County, Colorado</em></p>
        <p>Weekly Users: ~175 Employees</p>
        <p>
          Rise Broadband's busy call center used the Five9 IVR system to handle
          calls. Unfortunately, the data visualization and queue monitoring
          capabilities of Five9 were highly limited.<br><br>We built a custom web
          application to consolidate the Five9 data and bring real-time statistics
          to all contact center employees, with features including:
          <ul>
            <li>- Views for representatives, supervisors and managers</li>
            <li>- Real-time sales tracking</li>
            <li>- Live maps showing number of callers by area code</li>
            <li>- Integration with Rise's existing Business Intelligence systems</li>
          </ul>
        </p>
      </div>
      <div class="client-case-study col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <a href="https://weldw2w.org/" target="_blank">
          <img src="static/images/it_service/w2w-logo.png" class="img-responsive" height="80px" alt="Women2Women">
        </a>
        <h4>Women2Women Application Manager</h4>
        <p><em>Greeley, Weld County, Colorado</em></p>
        <p>Weekly Users: ~25 Voters and Agents</p>
        <p>
          Women2Women had an existing web application used by Weld County agencies
          to help women apply for financial assistance. We were brought in to
          add new features and fix some long-standing bugs.<br><br>Prioritizing
          a backed-up list of desired features and fixes, we updated
          the system to include:
          <ul>
            <li>
              - Helpful messages when application forms are filled in incorrectly,
              reducing troubleshooting calls to the Women2Women team
            </li>
            <li>
              - A comment system on applications to streamline communications while voting
            </li>
            <li>
              - Security improvements resulting in an "A" rating from <a href="https://www.ssllabs.com/ssltest/" target="_blank">SSL Labs</a>
              and better protection of sensitive data
            </li>
            <li>
              - CSV reporting to allow application data to be exported and manipulated
              in Excel
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout right_gross_layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_right">
            <h2>Technologies</h2>
            <p class="large">Our primary proficiencies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="full">

        </div>
      </div>
    </div>
    <div class="row counter">
      <div class="col-md-4"> </div>
      <div class="col-md-8">
        <div class="row">
          <p class="col-lg-12">
            We follow software development best practices and use up-to-date
            technology to provide applications that will be useful for years to
            come.
          </p>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>Desktop and Mobile Web</h4>
            <ul>
              <li>JavaScript</li>
              <li>VueJS</li>
              <li>jQuery</li>
              <li>WebSockets</li>
              <li>Interactive Forms and Charts</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>Server and Data</h4>
            <ul>
              <li>Python</li>
              <li>Django, Flask</li>
              <li>NodeJS</li>
              <li>SQL</li>
              <li>MongoDB</li>
              <li>Business Intelligence tools</li>
              <li>Familiarity with PHP, Java, and C</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>General</h4>
            <ul>
              <li>Linux server administration</li>
              <li>SSL and security improvements</li>
              <li>Functional programming</li>
              <li>Object-oriented programming</li>
              <li>Microsoft Office integration</li>
              <li>Quickbooks integration</li>
            </ul>
          </div>
          <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
            <div class="text_align_right"><i class="fa fa-smile-o"></i></div>
            <div class="text_align_right">
              <p class="counter-heading text_align_right">Small Businesses in the U.S.</p>
            </div>
            <h5><span class="counter-count">30</span>M</h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
            <div class="text_align_right"><i class="fa fa-laptop"></i></div>
            <div class="text_align_right">
              <p class="counter-heading text_align_right">Office Worker Time Spent on Manual Tasks</p>
            </div>
            <h5><span class="counter-count">25</span>%</h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
            <div class="text_align_right"><i class="fa fa-desktop"></i></div>
            <div class="text_align_right">
              <p class="counter-heading">Computer Repaired</p>
            </div>
            <h5 class="counter-count">848</h5>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_50">
            <div class="text_align_right"><i class="fa fa-windows"></i></div>
            <div class="text_align_right">
              <p class="counter-heading">OS Installed</p>
            </div>
            <h5 class="counter-count">450</h5>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2>Our Mission</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <p>
        At Clonts Software Development, our mission is to equip small businesses
        with tools that increase efficiency, reduce costs, and improve customer
        <em>and</em> employee satisfaction.
      </p>
      <p>
        We provide the best service available by listening to our clients and
        analyzing their industry so that we provide exactly what our clients need.
      </p>
      <p>
        By providing top-notch software, we hope to contribute to a world where
        small- and medium-sized businesses have access to the same quality of
        software as the corporate giants, levelling the playing field and
        enabling prosperity for all.
      </p>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<!-- <div class="section padding_layout_1 testmonial_section white_fonts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2 style="text-transform: none;">What Clients Say?</h2>
            <p class="large">Here are testimonials from clients..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="full">
          <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
            
            <ul class="carousel-indicators">
              <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
              <li data-target="#testimonial_slider" data-slide-to="1"></li>
              <li data-target="#testimonial_slider" data-slide-to="2"></li>
            </ul>
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="testimonial-container">
                  <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                    I am really satisfied with my first laptop service. </div>
                  <div class="testimonial-photo"> <img src="static/images/it_service/client1.jpg" class="img-responsive" alt="#" width="150" height="150"> </div>
                  <div class="testimonial-meta">
                    <h4>Maria Anderson</h4>
                    <span class="testimonial-position">CFO, Tech NY</span> </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-container">
                  <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                    I am really satisfied with my first laptop service. </div>
                  <div class="testimonial-photo"> <img src="static/images/it_service/client2.jpg" class="img-responsive" alt="#" width="150" height="150"> </div>
                  <div class="testimonial-meta">
                    <h4>Maria Anderson</h4>
                    <span class="testimonial-position">CFO, Tech NY</span> </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonial-container">
                  <div class="testimonial-content"> You guys rock! Thank you for making it painless, pleasant and most of all hassle free! I wish I would have thought of it first. 
                    I am really satisfied with my first laptop service. </div>
                  <div class="testimonial-photo"> <img src="static/images/it_service/client3.jpg" class="img-responsive" alt="#" width="150" height="150"> </div>
                  <div class="testimonial-meta">
                    <h4>Maria Anderson</h4>
                    <span class="testimonial-position">CFO, Tech NY</span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="full"> </div>
      </div>
    </div>
  </div>
</div> -->
<!-- end section -->
<!-- section -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="contact_us_section">
            <div class="call_icon"> <img src="static/images/it_service/phone_icon.png" alt="#" /> </div>
            <div class="inner_cont">
              <h2>REQUEST A FREE CONSULTATION</h2>
              <p>A no-cost, no-pressure discussion about ways to improve your business technology.</p>
            </div>
            <div class="button_Section_cont"> <a class="btn dark_gray_bt" href="contact">Contact us</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1" style="padding: 50px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <!-- <ul class="brand_list">
            <li><img src="static/images/it_service/brand_icon1.png" alt="#" /></li>
            <li><img src="static/images/it_service/brand_icon2.png" alt="#" /></li>
            <li><img src="static/images/it_service/brand_icon3.png" alt="#" /></li>
            <li><img src="static/images/it_service/brand_icon4.png" alt="#" /></li>
            <li><img src="static/images/it_service/brand_icon5.png" alt="#" /></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->


{% endblock %}

{% block scripts %}
<!-- js section -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- menu js -->
<script src="static/js/menumaker.js"></script>
<!-- wow animation -->
<script src="static/js/wow.js"></script>
<!-- custom js -->
<script src="static/js/custom.js"></script>
<!-- revolution js files -->
<script src="static/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="static/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="static/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- map js -->
<script>
  // This example adds a marker to indicate the position of Bondi Beach in Sydney,
  // Australia.
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: { lat: 40.5853, lng: -105.0844 },
      styles: [
        {
          elementType: 'geometry',
          stylers: [{ color: '#fefefe' }]
        },
        {
          elementType: 'labels.icon',
          stylers: [{ visibility: 'off' }]
        },
        {
          elementType: 'labels.text.fill',
          stylers: [{ color: '#616161' }]
        },
        {
          elementType: 'labels.text.stroke',
          stylers: [{ color: '#f5f5f5' }]
        },
        {
          featureType: 'administrative.land_parcel',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#bdbdbd' }]
        },
        {
          featureType: 'poi',
          elementType: 'geometry',
          stylers: [{ color: '#eeeeee' }]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#757575' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{ color: '#e5e5e5' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#9e9e9e' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{ color: '#eee' }]
        },
        {
          featureType: 'road.arterial',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#3d3523' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{ color: '#eee' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#616161' }]
        },
        {
          featureType: 'road.local',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#9e9e9e' }]
        },
        {
          featureType: 'transit.line',
          elementType: 'geometry',
          stylers: [{ color: '#e5e5e5' }]
        },
        {
          featureType: 'transit.station',
          elementType: 'geometry',
          stylers: [{ color: '#000' }]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{ color: '#c8d7d4' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#b1a481' }]
        }
      ]
    });

    //  var image = 'static/images/it_service/location_icon_map_cont.png';
    //  /*var beachMarker = new google.maps.Marker({
    //    position: {lat: 40.5853, lng: -105.0844},
    //    map: map,
    //    icon: image
    //  });*/
  }
</script>
<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->
{% endblock %}
